.btn-2{
    font-size: 13px;
    padding: 5px 15px;
}
.experience-div{
    width: 40%;
}
.experience-div h2{
    font-size: 30px;
}
.experience-div h3{
    font-size: 18px;

}
.experience-div p{
    font-size: 14px;
}